* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 60vw;
	min-width: 440px;
	margin: 0 auto;
	background-color: #fdf5e6;
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

h1 {
	margin-top: 50px;
	font-size: 50px;
}

.search-box {
	margin: 20px;
	display: grid;
	gap: 20px;
	/* grid-template-columns: auto 2fr 1fr; */
}

.search-box-label {
	padding: 10px;
}

.search-box-input {
	padding: 10px;
	border: 1px solid #999;
	border-radius: 20px;
}

.search-box-button {
	padding: 10px;
	/* margin-left: 10px; */
	border-radius: 20px;
	border: 1px solid #999;
	cursor: pointer;
}

.content-card {
	box-sizing: border-box;
	padding: 20px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	margin: 20px;
}

.content-card > h3,
p {
	padding: 5px;
}

@media (min-width: 786px) {
	.search-box {
		margin: 20px;
		display: grid;
		grid-template-columns: auto 2fr 1fr;
	}

	.search-box-button {
		margin-left: 10px;
	}
	.content-card {
		display: grid;
		grid-template-columns: 1fr 2fr auto;
		gap: 10px;
	}

	.content-card-content {
		text-align: left;
		align-content: center;
	}

	.content-card-image {
		text-align: right;
	}
}
